*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }

.debug{
    background-color: #DAA521;
    border: 1px solid black;
    }
    
header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #ADD8E6;
  height: 80px;
  }

.logo{
    display: flex;
    justify-content: right;
    flex-grow: 1;
    height: 50px;
  }

.logo .logo-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    padding-left: 10px;
    background-color: #DAA521;
  }

nav{
    height: 50px;
    width: 750px;
    background-color: #DAA521;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}

.login{
    display: flex;
    justify-content: left;
    text-align:center;
    flex-grow: 1;
    height: 50px;
}

.login .pulsante{
    display: flex;
    width: 250px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    background-color: #DAA521;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
    background-color: #00008B;
    height: 520px;
    align-items: center;
}

.container-jumbo{
    display: flex;
    flex-wrap: wrap;
    width: 945px;
    height: 415px;
    background-color: #EE83EF;
    border: 1px solid black;
    margin: 0 auto;
}

.bianco{
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    background-color: white;
    justify-content: center;
    align-content: center;
}
.grigio{
    display: flex;
    flex-wrap: wrap;
    height: 620px;
    background-color: #D3D3D3;
    justify-content: center;
    align-content: center;
}

.container1{
    background-color: #2090FF;
    width: 745px;
    height: 515px;
}
.container2{
    background-color: #FFC0CB;
    width: 500px;
    height: 515px;
}

.grigio2{
    display: flex;
    flex-wrap: wrap;
    background-color: #D3D3D3;
    height: 1045px;
    justify-content: center;
    align-content: center;
}

.box-verde{
    display: flex;
    width: 1250px;
    height: 935px;
    background-color: #238B23;
}

.nero1{
    display: flex;
    background-color: #23272A;
    height: 655px;
}